﻿/*The default styles are for a portrait smartphone*/
html
{
    height: 100%;
    width: 100%;
}

body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("colour/phonePortrait.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Ubuntu', Sans-Serif;
}
#wrapper
{
    width: 100%;
    height: 100%;
}

#header
{
    padding: 0;
    margin: 0;
    max-height: 4em;
    height: 20%;
    width: 100%;
    vertical-align: middle;
    background-color: Black;
    color: White;
}

#content
{
    margin-top: 10px;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    overflow: hidden;
}

.centered
{
    text-align: center;
}

#footer
{
    position: relative;
    width: 100%;
    min-height: 30px;
    bottom: 0px;
    background-color: Black;
    color: White;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}

.name
{
    white-space: nowrap;
}

#header h1
{
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

select
{
    height: 44px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 10px;
}

input[type=submit]
{
    display: block;
    height: 64px;
    width: 50%;
    margin: 0 auto;
    font-size: 1.2em;
    border-radius: 10px;
    margin-top: 2em;
}

input[type=radio]
{
    display: none;
}

input[type=radio] + label
{
    display: block;
    height: 44px;
    width: 33%;
    background-color: lightgray;
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
    box-shadow: inset 0 0 10px Gray;
}

input.twoOptions + label
{
    width: 50%;
}

.rbGroupLabel
{
    clear:both;
}

input[type=radio] + label.last
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 2em;
    clear: right;
}

input[type=radio] + label.first
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    clear: left;
}

input[type=radio]:checked + label
{
    background-color: white;
    box-shadow: inset 0 0 15px Blue;
}

input.matrixRB + label
{
    width: 25%;
}

.headerRow
{
    display: none;
}

div.table
{
    clear: both;
}

div.row
{
    overflow: hidden;
}

div.colHead
{
    font-weight: bolder;
}


#suggestion
{
    text-align:center;
}

#dogImg
{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    border-radius: 10px;
}

#details
{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}

#dogTab
{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}

#dogTab tr
{
    border: 1px solid black;
    height: 30px;
}

#dogTab td, #dogTab th
{
    height: 30px;
    vertical-align: middle;
}

#dogTab th
{
    text-align: center;
}

#details h3
{
    text-align: center;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) 
and (orientation: landscape){
    body
    {
        background-image: url("colour/phoneLandscape.jpg");
    }
    
    #suggestion
    {
        text-align:left;
        margin-left: 1em;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
{
    body
    {
        background-image: url("colour/tabPortrait.jpg");
    }
    
    div.table
    {
        display: table;
        width: 100%;
        border: 1px solid black;
        border-spacing: 5px;
        border-radius: 10px;
        margin-bottom: 2em;
    }
    
    div.row
    {
        display: table-row;
        border: 1px solid black;
    }
    
    div.colHead
    {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 20%;
        border-radius: 10px;
    }
    
    div.cell
    {
        display: table-cell;
        border-radius: 10px;
        margin: 5px;
    }
    
    input.matrixRB + label
    {
        width: 100%;
        height: 64px;
        font-size: 2em;
        line-height: 64px;
        border-radius: 10px;
    }
    input.matrixRB + label.last, input.matrixRB + label.first
    {
        margin: 0px;
        
    }
    #npMessage
    {
        display: none;
    }
    
    #suggestion
    {
        text-align:left;
        margin-left: 5%;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (orientation : landscape) {
    body
    {
        background-image: url("colour/tabLandscape.jpg");
    }
    
    #dogImg
    {
        width: 45%;
        float: left;
        margin-bottom: 2em;
        margin-left: 1em;
    }
    
    #details
    {
        float: right;
        width: 45%;
        margin-right: 1em;
    }
    
    #suggestion
    {
        margin-left: 1em;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) 
{
    body
    {
        background-image: url("colour/desktopWallpaper.jpg");
    }
    
    #wrapper
    {
        width: 50%;
        min-width: 968px;
        margin: 0 auto;
    }
    
    div.desktopLeft
    {
        float:left;
        margin-left:15px;
        width: 30%;
    }
    
    div.desktopBottomCenter
    {
        clear:both;
        margin-left: 15px;
        padding-top: 15px;
        padding-bottom: 60px;
    }
    
    input[type=radio]
    {
        display: inline-block;
        cursor: pointer;
    }
    
    input[type=radio].first
    {
        margin-left: 20px;
    }

    input[type=radio] + label
    {
        display: inline;
        height: auto;
        width: auto;
        background-color: inherit;
        float: none;
        cursor: pointer;
        text-align: left;
        font-size: 1.3em;
        line-height: normal;
        box-shadow: none;
        margin: 0px;
        margin-right: 0.2em;
    }
    
    .rbGroupLabel
    {
        display: inline-block;
        margin-top: 1em;
        margin-bottom: 5px;
    }
    
    input[type=radio] + label.last:after
    {
        content: '\A';
        white-space: pre;
    }
    
    input[type=radio]:checked + label
    {
        background-color: inherit;
        box-shadow: none;
    }
    
    
    input[type=radio] + label.last
    {
        border-radius: 0px;
        margin-bottom: 2em;
    }

    input[type=radio] + label.first
    {
        border-radius: 0px;
    }
    
    input.matrixRB
    {
        margin: 0px;
    }
    
    input.matrixRB + label
    {
        display: none;
    }
    
    div.table
    {
        display: table;
        width: auto;
        border: 1px solid black;
        border-collapse: collapse;
        margin-bottom: 1em;
        margin-top: 1em;
        clear:none;
        float:right;
        margin-right: 15px;
        font-size: 1.3em;
    }
    
    div.row
    {
        display: table-row;
        border: 1px solid black;
    }
    
    div.colHead
    {
        display: table-cell;
        text-align: center;
        border: 1px solid black;
        vertical-align: middle;
        width: auto;
        padding: 5px;
    }
    
    div.cell
    {
        display: table-cell;
        border: 1px solid black;
        width: 4em;
        text-align: center;
        vertical-align: middle;
    }
    
    select
    {
        height: 30px;
        width: 150px;
        font-size: 1.3em;
        border-radius: 0px;
        margin-top: 15px;
        float: left;
    }

    input[type=submit]
    {
        border-radius: 0px;
        display: block;
        height: 30px;
        width: 150px;
        margin-right: 15px;
        font-size: 1.3em;
        float: right;
        margin-top: 15px;
    }
    
    #dogImg
    {
        width: 45%;
        float: left;
        margin-bottom: 2em;
        margin-left: 1em;
    }
    
    #details
    {
        float: right;
        width: 45%;
        margin-right: 1em;
    }
}