﻿@model DogMatcher.Models.Dog
@{
    ViewBag.Title = "Choose Your Dog";
}

<br />
<h3 class="centered">We'll Help You Choose the Perfect Dog</h3>
@using (Html.BeginForm("DogChooseForm", "DogMatcher", FormMethod.Post))
{
    <fieldset>
        <legend>Preferences</legend>
        <div class="desktopLeft">
        <b class="rbGroupLabel">Must be good with children:</b><br />
        @Html.RadioButtonFor(m => m.GoodWithChildren, true, new { id = "goodWithChildren", @checked = "checked", @class="twoOptions" })<label class="first" for="goodWithChildren">Yes</label>
        @Html.RadioButtonFor(m => m.GoodWithChildren, false, new { id = "notGoodWithChildren", @class = "twoOptions" })<label class="last" for="notGoodWithChildren">Don't Care</label>
        @Html.ValidationMessageFor(m => m.GoodWithChildren)
        <b class="rbGroupLabel">Drooling:</b><br />
        @Html.RadioButtonFor(m => m.Drools, false, new { id = "noDrool", @checked = "checked", @class = "twoOptions" })<label class="first" for="noDrool">No Drooling</label>
        @Html.RadioButtonFor(m => m.Drools, true, new { id = "droolDontCare", @class = "twoOptions" })<label class="last" for="droolDontCare">Don't Mind</label>
        @Html.ValidationMessageFor(m => m.Drools)
        <b class="rbGroupLabel">Coat Length:</b><br />
        @Html.RadioButtonFor(m => m.CoatLength, "Short", new { id = "coatShort", @checked = "checked" })<label class="first" for="coatShort">Short</label>
        @Html.RadioButtonFor(m => m.CoatLength, "Medium", new { id = "coatMedium" })<label for="coatMedium">Medium</label>
        @Html.RadioButtonFor(m => m.CoatLength, "Long", new { id = "coatLong" })<label class="last" for="coatLong">Long</label>
        @Html.ValidationMessage("CoatLength")
        </div>
        <div class="table" id="prefTab">
            <div class="row headerRow">
                <div class="colHead">
                </div>
                <div class="colHead">
                    Low
                </div>
                <div class="colHead">
                    Medium
                </div>
                <div class="colHead">
                    High
                </div>
                <div class="colHead">
                    Any
                </div>
            </div>
            <div class="row">
                <div class="colHead">
                    Activity Level:
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.ActivityLevel, "Low", new { @class="matrixRB", id="activityLow"})<label class="first" for="activityLow">Low</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.ActivityLevel, "Medium", new { @class = "matrixRB", id = "activityMed" })<label for="activityMed">Med</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.ActivityLevel, "High", new { @class = "matrixRB", id = "activityHigh" })<label for="activityHigh">High</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.ActivityLevel, "NoPreference", new { @class = "matrixRB", id = "activityNP", @checked = "checked" })<label class="last" for="activityNP">Any</label>
                </div>
            </div>
            <div class="row">
                <div class="colHead">
                    Shedding Level:
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.SheddingLevel, "Low", new { @class = "matrixRB", id = "sheddLow" })<label class="first" for="sheddLow">Low</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.SheddingLevel, "Medium", new { @class = "matrixRB", id = "sheddMed" })<label for="sheddMed">Med</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.SheddingLevel, "High", new { @class = "matrixRB", id = "sheddHigh" })<label for="sheddHigh">High</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.SheddingLevel, "NoPreference", new { @class = "matrixRB", id = "sheddNP", @checked = "checked" })<label class="last" for="sheddNP">Any</label>
                </div>
            </div>
            <div class="row">
                <div class="colHead">
                    Grooming Level:
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.GroomingLevel, "Low", new { @class = "matrixRB", id = "groomLow" })<label class="first" for="groomLow">Low</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.GroomingLevel, "Medium", new { @class = "matrixRB", id = "groomMed" })<label for="groomMed">Med</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.GroomingLevel, "High", new { @class = "matrixRB", id = "groomHigh" })<label for="groomHigh">High</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.GroomingLevel, "NoPreference", new { @class = "matrixRB", id = "groomNP", @checked = "checked" })<label class="last" for="groomNP">Any</label>
                </div>
            </div>
            <div class="row">
                <div class="colHead">
                    Intelligence Level:
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.IntelligenceLevel, "Low", new { @class = "matrixRB", id = "intelLow" })<label class="first" for="intelLow">Low</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.IntelligenceLevel, "Medium", new { @class = "matrixRB", id = "intelMed" })<label for="intelMed">Med</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.IntelligenceLevel, "High", new { @class = "matrixRB", id = "intelHigh" })<label for="intelHigh">High</label>
                </div>
                <div class="cell">@Html.RadioButtonFor(m => m.IntelligenceLevel, "NoPreference", new { @class = "matrixRB", id = "intelNP", @checked = "checked" })<label class="last" for="intelNP">Any</label>
                </div>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.ActivityLevel)
        @Html.ValidationMessageFor(m => m.SheddingLevel)
        @Html.ValidationMessageFor(m => m.GroomingLevel)
        @Html.ValidationMessageFor(m => m.IntelligenceLevel)
        <div class="desktopBottomCenter">
        <b>Preferred Size:</b><br />
        @Html.DropDownListFor(m => m.Size, new SelectList(Enum.GetValues(typeof(DogMatcher.Models.Dog.ESize))))
        @Html.ValidationMessageFor(m => m.Size)
        <input type="submit" name="findDog" value="Find My Dog!" />
        </div>
    </fieldset>
}